table, tbody, td {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24pt;
    border: 2px solid white;
    background-color: rgb(53, 0, 73);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

li, ul {
    list-style-type: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    background-color: rgb(53, 0, 73);
    margin: 0 auto;
    margin-bottom: 10px;
    width: 1000px;
    
}
