#purpletheme {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24pt;
    border: 2px solid white;
    background-color: rgb(53, 0, 73);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-spacing: 6px;
}

#maintable{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
