




.App {
  text-align: center;
  

}

body{
 /*background color*/
 background: #8A2387; 
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387); 
background: linear-gradient(to right, #F27121, #E94057, #8A2387); 
}


.App-header {
  
  background-color: #be0c0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(113, 113, 122);
}





img {
height: 300px;

margin-top: 15px;
margin-left: 45px;


}