




.App {
  text-align: center;
  

}

body{
 
  background-image: url(/photo8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
  
  
    
  
}

h1{
  background-color: darkorange;
}

.App-header {
  
  background-color: #be0c0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(113, 113, 122);
}





img {
height: 300px;

margin-top: 15px;
margin-left: 45px;


}